:root {
  --color-body: #1e1e1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-red: #8a0707;
  --card-bg: linear-gradient(to right, #ffffff, #999999);
  --color-p-light: rgb(255, 255, 255, 50%);
  --color-light-white: rgb(255, 255, 255, 70%);
}
.about-us-sec {
  padding: 100px 0;
}
.about-us-sec .primary-btn{
  margin-top: 20px;
}
.about-hdr .title-2 {
  margin-bottom: 20px;
}
.p-1 {
  margin-bottom: 20px;
  max-width: 853px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255, 80%);
  line-height: 1.55;
  text-transform: capitalize;
}

.about-img {
  max-width: 687px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .about-us-sec .row {
    flex-wrap: wrap-reverse;
  }
  .about-btn{
    margin-bottom: 20px;
  }
  
}
