.banner-sec {
  min-height: 100vh;

  background:
    linear-gradient(
      to bottom,
      rgba(138, 7, 7, 0.3) 0%,
      /* top color */ rgba(138, 7, 7, 0.2) 15%,
      rgba(138, 7, 7, 0.1) 30%,
      rgba(138, 7, 7, 0) 45% /* fade out */
    ),
    url("../Assets/banner.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  overflow: hidden;
}
.banner-content {
  padding-top: 40px;
}
.banner-content .title-1 {
  color: var(--color-white);
  /* margin-top: 40px; */
}
.banner-content .title-1 span {
  color: var(--color-dark-red);
}
.banner-content > p {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255, 70%);
  text-transform: capitalize;
  font-family: "Urbanist", sans-serif;
  margin-top: 10px;
}
.orbit-section {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateOrbit 25s linear infinite;
}
.orbit-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 160px;
  margin: -80px 0 0 -130px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  transition: 0.4s;
  transform: rotate(0deg) translate(320px);
}
.orbit-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s;
}
.orbit-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.05);
}
.orbit-item:nth-child(1) {
  transform: rotate(0deg) translate(300px);
}
.orbit-item:nth-child(2) {
  transform: rotate(60deg) translate(300px);
}
.orbit-item:nth-child(3) {
  transform: rotate(120deg) translate(300px);
}
.orbit-item:nth-child(4) {
  transform: rotate(180deg) translate(300px);
}
.orbit-item:nth-child(5) {
  transform: rotate(240deg) translate(300px);
}
.orbit-item:nth-child(6) {
  transform: rotate(300deg) translate(300px);
}

@keyframes rotateOrbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
