.counter-section {
  padding: 100px 0;
}
.counter-number {
  font-size: 32px;
  font-weight: 800;
  color: var(--color-white);
  margin-top: 40px;
}
.counter-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  margin-top: 18px;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .counter-number {
    font-size: 20px;
    margin-top: 20px;
  }
  .counter-text {
    font-size: 15px;
    margin-top: 12px;
  }
}
