@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Urbanist", sans-serif; */
:root {
  --color-body: #1e1e1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-red: #8a0707;
  --card-bg: linear-gradient(to right, #ffffff, #999999);
  --color-p-light: rgb(255, 255, 255, 50%);
  --color-light-white: rgb(255, 255, 255, 70%);
  --gradient-card: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.01)
  );
  --number-color: linear-gradient(135deg, #a7a7a7, #8a0707);
  --photography-overlay-color: linear-gradient(
    to top,
    rgba(138, 7, 7, 0.85),
    rgba(0, 0, 0, 0.95)
  );
}
.photography-sec {
  padding: 100px 0;
}
.photography-hdr {
  text-align: center;
  margin-bottom: 50px;
}
.work-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-width: 526.67px;
  margin-bottom: 50px;
}
.work-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: var(--photography-overlay-color);

  opacity: 0;
  transition: 0.5s ease;
  padding: 20px;
}
.overlay .overlay-title {
  font-size: 18px;
  font-weight: 800;
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.overlay .overlay-sub {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
}
.work-card:hover img {
  transform: scale(1.15);
  filter: grayscale(40%);
}
.work-card:hover .overlay {
  opacity: 0.8;
}
.work-card:hover .overlay .overlay-title,
.work-card:hover .overlay .overlay-sub {
  transform: translateY(0);
}
@media screen and (max-width:768px) {
  .work-card{
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
}