:root {
  --color-body: #1e1e1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-red: #8a0707;
  --card-bg: linear-gradient(to right, #ffffff, #999999);
  --color-p-light: rgb(255, 255, 255, 50%);
  --color-light-white: rgb(255, 255, 255, 70%);
}
.portfolio-sec {
  padding: 100px 0;
}
.portfolio-hdr {
  text-align: center;
  margin-bottom: 50px;
}
.portfolio-item {
  max-width: 526.67px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
}
.portfolio-item:hover img {
  transform: scale(1.08);
}
@media screen and (max-width:992px) {
    .portfolio-item{
        margin: 0 auto;
    }
    
}
