@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Urbanist", sans-serif; */
:root {
  --color-body: #1e1e1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-red: #8a0707;
  --card-bg: linear-gradient(to right, #ffffff, #999999);
  --color-p-light: rgb(255, 255, 255, 50%);
  --color-light-white: rgb(255, 255, 255, 70%);
  --gradient-card: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.01)
  );
  --number-color: linear-gradient(135deg, #a7a7a7, #8a0707);
  --photography-overlay-color: linear-gradient(
    to top,
    rgba(138, 7, 7, 0.85),
    rgba(0, 0, 0, 0.95)
  );
}
.skill-sec {
  padding: 100px 0;
}
.skill-sec .primary-btn{
  margin-top: 20px;
}
.skill-hdr {
  margin-bottom: 20px;
}
.section-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  color: var(--color-p-light);
  max-width: 785px;
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.skill-item {
  margin-bottom: 20px;
}
.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.percent {
  color: var(--color-p-light);
  font-size: 14px;
}
.progress-bar-wrap {
  width: 100%;
  height: 10px;
  background:var(--color-light-white);
  border-radius: 20px;
  overflow: hidden;
}
.progress-bar-fill {
  height: 100%;
  background:var(--color-p-light);
  border-radius: 20px;
  transition: width 1.6s ease;
}
