:root {
  --color-body: #1e1e1e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-red: #8a0707;
  --card-bg: linear-gradient(to right, #ffffff, #999999);
  --color-p-light: rgb(255, 255, 255, 50%);
  --color-light-white: rgb(255, 255, 255, 70%);
}

.work-with-sec {
  padding: 100px 0;
  background: var(--color-black);
}
.brands-title {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-white);
}
.brands-title span {
  color: var(--color-dark-red);
}
.logo-box {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(167, 167, 167, 60%);
  transition: all 0.3s ease;
}
.logo-box svg {
  width: 101px;
  height: 19px;
  /* fill: #777; */
  transition: all 0.3s ease;
}

.logo-box:hover svg {
  transform: scale(1.1);
}
@media screen and (max-width:768px) {
  .brands-title{
    font-size: 15px;
    margin: 20px 0;
  }
  
}
